body{
    padding: 20px
}
 .navbar{
    background-color: rgb(179, 24, 179)
 }
 .btn-primary:hover{
    background-color: rgb(240, 35, 240)

 }
 
 .btn-primary{
    background-color: rgb(150, 16, 150)

 }